<section class="content">
<form action="" class="callback-form-container" >
  <h3 class="calback-back-title">/Are you minding [a project?]</h3>
  <p class="callback-form-descr">
    Leave a request to discuss the task and technical requirements
  </p>
<div class="callback-back-wrapper">
  <div class="callback-back-input-wapper">
  <mat-form-field appearance="fill">
    <mat-label class="callback-back-label">Input</mat-label>
    <input class="callback-form-input" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input class="callback-form-input" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input class="callback-form-input" matInput>
  </mat-form-field>
    </div>
  <button class="mat-raised-button">
    Discuss the project  —
  </button>

</div>
</form>
</section>
