<div class="about-me-container">
  <!-- Main info-->

  <div class="info-container">
    <h2 class="proffesion">Front-End Developer</h2>
    <h1 class="name">Yurii Katerlin</h1>
    <p class="description">/ Using HTML, CSS, JavaScript, React Native and Node.js I help to build websites, small and medium web apps for business .</p>

  </div>

  <!-- Work experience-->
  <div>
    <h3 class="about-me-title">Work Experience</h3>

    <!--compony 1-->
    <div>
      <h4 class="proffesion-title">Front-End Developer <span class="proffesion-company">Freelance</span> </h4>
      <span class="proffesion-time">September 2019 - up to now <span class="divider">|</span> Ukraine</span>

      <ul>

        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li class="proffesion-duties-item">Risus commodo viverra maecenas. </li>
        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </li>

      </ul>
    </div>

    <!--compony 2-->
    <div>
      <h4 class="proffesion-title">Manager <span class="proffesion-company">Roga & Kopyta New</span></h4>
      <span class="proffesion-time">March 2015 - October 2018  <span class="divider">|</span> Ukraine</span>

      <ul class="proffesion-duties">

        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li class="proffesion-duties-item">Risus commodo viverra maecenas. </li>

      </ul>
    </div>

    <!--compony 3-->
    <div>
      <h4 class="proffesion-title">Manager <span class="proffesion-company">Roga & Kopyta LLC</span></h4>
      <span class="proffesion-time">June 2014 - February 2015  <span class="divider">|</span> Ukraine</span>

      <ul class="proffesion-duties">

        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
        <li class="proffesion-duties-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li class="proffesion-duties-item">Risus commodo viverra maecenas. </li>

      </ul>
    </div>
  </div>

  <!-- Skills -->
  <div class="projects-container">
    <h3 class="about-me-title">My Coding Skills & Experience</h3>
    <app-tech-skills></app-tech-skills>
  </div>

  <!-- Education-->
  <div>

    <h3 class="about-me-title">Education</h3>
    <h4 class="education-place">Kharkiv National University of Radioelectronics</h4>
    <h5 class="education-proffesion">Managment</h5>
    <span class="proffesion-time">Septermber 2009 - June 2014  <span class="divider">|</span> Ukraine</span>

  </div>

</div>
