<div class="about-me-container">
  <!-- Main info-->

  <div class="info-container">
    <h2 class="proffesion">Front-End Developer</h2>
    <h1 class="name">Yurii Katerlin</h1>
    <p class="description">/ Using HTML, CSS, JavaScript, React Native and Node.js I help to build websites, small and medium web apps for business .</p>
  </div>

  <!-- Work experience-->
    <div>
    <h3 class="about-me-title">Work Experience</h3>
    <!--Coureses 1-->
    <div>
      <h4 class="proffesion-title">Front-End Web Development in IT-Cluster Academy</h4>
      <span class="proffesion-time">February 2018 - May 2018 <span class="divider">|</span> Ukraine</span>

    </div>

    <!--Coureses 2-->
    <div>
      <h4 class="proffesion-title">Go IT – Free online Front-End marathon</h4>
      <span class="proffesion-time">December 2020 - December 2020  <span class="divider">|</span> Ukraine</span>
    </div>

    <!--compony 3-->
    <div>
      <h4 class="proffesion-title">Go IT – Interactive online JavaScript marathon</h4>
      <span class="proffesion-time">Apri 2021 - May 2021  <span class="divider">|</span> Ukraine</span>

    </div>
  </div>

  <!-- Skills -->
  <div class="projects-container">
    <h3 class="about-me-title">My Coding Skills & Experience</h3>
    <app-tech-skills></app-tech-skills>
  </div>

  <!-- Language education-->
  <div class="languages-container">
    <h3 class="about-me-title">Languages</h3>
    <ul class="languages">
      <li class="language-item">English – Intermediate (Stage 10 Callan Method, “Profi-center’)</li>
      <li class="language-item">Polish – Upper-intermediate (Polish School in Krakow)</li>
      <li class="language-item">Ukraine – Native</li>
    </ul>
  </div>

  </div>


