<h3 class="team-projects-title">
  Teamwork _projects
</h3>

<div class="team-project-item-wrapper">

  <div class="team-project-item">
    <div class="personal-project-item-container">
      <img
        src="/assets/img/questify.jpg"
        alt="questify app"
        class="personal-project-img"
      />
    </div>
    <p class="team-project-name">
      <i class="fas fa-laptop-code personal-project-icon"></i>
      WordPress site
    </p>
    <button class="mat-raised-button">
      More details —
    </button>
  </div>

    <div class="team-project-item">
      <div class="personal-project-item-container">
        <img
          src="/assets/img/it-test.jpg"
          alt="it-test"
          class="personal-project-img"
        />
      </div>
      <p class="team-project-name">
        <i class="fas fa-laptop-code personal-project-icon"></i>
        React.js, Node.js
      </p>
      <button class="mat-raised-button">
        More details —
      </button>
    </div>

</div>
