.team-projects-title {
  font-size: 60px;
  line-height: 64px;
  width: 530px;
  text-transform: uppercase;
}

.team-project-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.team-project-item {
  align-self: center;
  margin-bottom: 40px;
}

.personal-project-item-container {
  padding-top: 40px;
  background: #1e2939;
  border-radius: 5px 5px 0 0;
  position: relative;
}
