<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>


</mat-toolbar>

<!-- Sidebar -->

<mat-sidenav-container>
  <mat-sidenav #sidenav='matSidenav'>

    <img class="avatar mat-elevation-z8" src="assets/img/logo.jpg" alt="avator-logo"/>

    <h4 class="name">Yurii Katerlin</h4>
    <p class="designation">Front-End Developer</p>

    <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span routerLink="/about">About</span>
      </button>

      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span routerLink="/projects">Projects</span>
      </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span routerLink="/hire-me">HIRE ME</span>
    </button>
  </mat-sidenav>

  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <!-- Main content -->

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
