mat-toolbar {
  background: #1e2939;
  color: white;
}
mat-sidenav {
  margin: 15px;
  width: 200px;
  border-right: none;
  background: #1e2939;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.content {
  margin: 15px;
  margin-left: 30px;
  padding-left: 110px;
  padding-right: 110px;
  border-radius: 10px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 130px;
  height: 150px;
  border-radius: 50%;
}

.name {
  margin: 8px 0 0 0;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}




