<div class="experience-container">
  <h3 class="experience-title">My Coding Skills & Experience</h3>

  <div class="experienc-container-skills">
    <div class="experience-skill">
      <div class="experience-dots">
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent ">trip_origin</span>
        <span class="material-icons experience-dots-item-accent ">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
      </div>

      <p class="experience-text">Html</p>
    </div>

    <div class="experience-skill">
      <div class="experience-dots">
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
      </div>

      <p class="experience-text">CSS</p>
    </div>

    <div class="experience-skill">
      <div class="experience-dots">
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
      </div>

      <p class="experience-text">JavaScript</p>
    </div>

    <div class="experience-skill">
      <div class="experience-dots">
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons">trip_origin</span>
        <span class="material-icons">trip_origin</span>
      </div>

      <p class="experience-text">Angular</p>
    </div>

    <div class="experience-skill">
      <div class="experience-dots">
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons experience-dots-item-accent">trip_origin</span>
        <span class="material-icons">trip_origin</span>
        <span class="material-icons">trip_origin</span>
        <span class="material-icons">trip_origin</span>
      </div>

      <p class="experience-text">Node</p>
    </div>


  </div>
</div>
